/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Ajustes no cabeçalho */
header {
    margin-bottom: 20px;
}

/* Estilização dos produtos */
.produto {
    margin: 20px 0;
}

/* Rodapé */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilização das imagens do carrossel */
.carousel-img {
    max-width: 300px; /* Define a largura máxima desejada */
    max-height: 200px; /* Define a altura máxima desejada */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    object-fit: contain; /* Mantém as proporções da imagem */
}
